<h1 class="page-title">Horses</h1>
<ul class="horses">
  {{#each model as |horse|}}
    <li>
      <span>
        {{horse.constructor.modelName}}
      </span>
      <span>
        {{horse.name}}
      </span>
      <span>
        {{horse.breed}}
      </span>
      {{#link-to "dashboard.horse.index" horse}}
        Horse Page {{horse.id}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
<ol class="fields">
  {{#each dataview.fields as |field|}}
    {{#if field.canDisplay}}
      <li>
        <span>{{field.name}}</span>
      </li>
    {{/if}}
  {{/each}}
</ol>
{{#link-to "dashboard.horses.new"}}
  New Horse
{{/link-to}}
