<ul class="display">
  <li class="display__factory">
    <strong>modelName</strong>
    <span>{{model.constructor.modelName}}</span>
  </li>

  {{#each dataview.fields as |field|}}
    <li class="display__{{field.name}}">
      <strong>{{field.name}}</strong>
      <span>{{get model field.name}}</span>
    </li>
  {{/each}}
</ul>
<form {{action (route-action "persistModel") model on="submit"}}>
  {{one-way-text model.name name="name" update=(action (mut model.name))}}
  {{one-way-text model.breed name="breed" update=(action (mut model.breed))}}
  <button type="submit">Submit</button>
</form>
