<h1 class="page-title">Show Owner</h1>
<div class="action-group">
  {{#each (filter-by "isAction" dataview.fields) as |field|}}
    {{#if (and field.canDisplay field.when)}}
      <button class="action__{{field.name}}" {{action handleModelAction field}}>
        {{field.label}}
      </button>
    {{/if}}
  {{/each}}
</div>
<ul class="display">
  <li class="display__factory">{{model.constructor.modelName}}</li>
  {{#each (reject-by "isAction" dataview.fields) as |field|}}
    {{#if field.canDisplay}}
      <li class="display__{{field.name}}">
        {{get model field.name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

{{#link-to "dashboard.owner.horses" model class="my-horses"}}
  Owner's Horses
{{/link-to}}
